{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

        <style>
            
            #id_image{
                background-color: #270041;
                border-radius: 4px;
                height: 50px;
                width: 100%;
                color: #ffffff;
            }
            #id_image::file-selector-button{
                border: none;
                border-radius: 7px;
                color: 432f9f;
                background-color: #ffffff;
                height: 30px;
                cursor: pointer;
                transition: all .25s ease-in;
                margin-top: 1px;
                margin-left: 10px;
            }
        </style>


        <!-- Main Contents -->
        <div class="main_content">
            <div class="mcontainer">

                <div class="bg-white lg:divide-x lg:flex lg:shadow-md rounded-md shadow lg:rounded-xl overflow-hidden lg:m-0 -mx-4">
                    
                    {% include 'partials/update_sidebar.html' %}
                    <div class="lg:w-2/3">

                        

                        <form method="POST" class="lg:flex lg:flex-col justify-between lg:h-full" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- form header -->
                            <div class="lg:px-10 lg:py-8 p-6">
                                <h3 class="font-bold mb-2 text-xl">Profile</h3>
                                <p class=""> This information will be dispalyed publicly so be carful what you share. </p>
                            </div>

                            <!-- form body -->
                            <div class="lg:py-8 lg:px-20 flex-1 space-y-4 p-6">

                                

                                <h4><b>Pagel</b></h4>
                                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                                    <!-- Column 1: Profile Image -->
                                    {{form.as_p}}
                                </div>
                                
                            </div>
                                

                            <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
                                <button type="submit" class="button bg-blue-700"> Save Changes </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}
